<div
	class="form-group"
	id="div_title"
>
	<label for="title">{{ 'riuson.blogfrontend::lang.post_editor.title'|trans }}</label>
	<input
		type="text"
		class="form-control"
		id="title"
		name="input-title"
		class="form-control"
		placeholder="{{ 'riuson.blogfrontend::lang.post_editor.title_placeholder'|trans }}"
		{% if __SELF__.post_excerpt is not null %}
			value="{{ __SELF__.post_title }}"
		{% endif %}
	>
</div>
<div
	class="form-group"
	id="div_slug"
>
	<label for="slug">{{ 'riuson.blogfrontend::lang.post_editor.slug'|trans }}</label>
	<input
		type="text"
		class="form-control"
		id="input-slug"
		name="input-slug"
		class="form-control"
		placeholder="{{ 'riuson.blogfrontend::lang.post_editor.slug_placeholder'|trans }}"
		{% if __SELF__.post_excerpt is not null %}
			value="{{ __SELF__.post_slug }}"
		{% endif %}
	>
</div>
<div class="form-group">
	<label for="excerpt">{{ 'riuson.blogfrontend::lang.post_editor.excerpt'|trans }}</label>
	<textarea
		id="excerpt"
		name="input-excerpt"
		class="form-control"
		rows="3"
		style="resize: vertical;"
	>{% if __SELF__.post_excerpt is not null %}{{ __SELF__.post_excerpt|raw }}{% endif %}
	</textarea>
</div>
<div class="form-group">
	<label for="content">{{ 'riuson.blogfrontend::lang.post_editor.content'|trans }}</label>
	<textarea
		id="content"
		name="input-content"
		class="form-control"
		rows="10"
		style="resize: vertical;"
	>{% if __SELF__.post_content is not null %}{{ __SELF__.post_content|raw }}{% endif %}</textarea>
</div>
<div class="form-group">
	{% for category in __SELF__.categories %}
	<label class="checkbox-inline">
		<input
			type="checkbox"
			name="categories[]"
			value="{{ category.id }}"
			{% if category.id in __SELF__.selected_categories %}
			checked
			{% endif %}
		>{{ category.name }}
	</label>
	{% endfor %}
</div>
<div class="form-group">
	<button
		type="submit"
		class="btn btn-default"
	>{{ 'riuson.blogfrontend::lang.post_editor.submit'|trans }}</button>
</div>
<div class="form-group">
	<p
		class="bg-warning"
		id="div_post_result"
	>{% if __SELF__.errorText is not null %}{{ __SELF__.errorText }}{% endif %}</p>
</div>
