{% set posts = __SELF__.posts %}

<ul class="post-list">
    {% for post in posts %}
        <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

            <p class="info">
                {{ 'riuson.blogfrontend::lang.posts_viewer.posted'|trans }}
                {% if post.id in __SELF__.authors|keys %}
                {{ 'riuson.blogfrontend::lang.posts_viewer.by_user'|trans }} {{ __SELF__.authors[post.id] }}
                {% endif %}
                {% if post.categories.count %} {{ 'riuson.blogfrontend::lang.posts_viewer.in_category'|trans }} {% endif %}
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                {{ 'riuson.blogfrontend::lang.posts_viewer.published_at'|trans }} {{ post.published_at|date('M d, Y') }}
            </p>

            {% if post.excerpt %}
                <p class="excerpt">{{ post.excerpt|evelinks }}</p>
            {% else %}
                <div class="content">{{ post.content_html|raw|evelinks }}</div>
            {% endif %}
        </li>
    {% else %}
        <li class="no-data">{{ noPostsMessage }}</li>
    {% endfor %}
</ul>

{% if posts.lastPage > 1 and __SELF__.showPager %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; {{ 'riuson.blogfrontend::lang.posts_viewer.previous'|trans }}</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">{{ 'riuson.blogfrontend::lang.posts_viewer.next'|trans }} &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}