{% set post = __SELF__.post %}

<div class="content">{{ post.content_html|raw|evelinks }}</div>

{% if post.featured_images.count %}
    <div class="featured-images text-center">
        {% for image in post.featured_images %}
            <p>
                <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    style="max-width: 100%" />
            </p>
        {% endfor %}
    </div>
{% endif %}

<p class="info">
    {{ 'riuson.blogfrontend::lang.post_viewer.posted'|trans }}
    {% if __SELF__.post_user_name is not null %}
    {{ 'riuson.blogfrontend::lang.post_viewer.by_user'|trans }} {{ __SELF__.post_user_name }}
    {% endif %}
    {% if post.categories.count %} {{ 'riuson.blogfrontend::lang.post_viewer.in_category'|trans }}
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    {{ 'riuson.blogfrontend::lang.post_viewer.published_at'|trans }} {{ post.published_at|date('M d, Y') }}
</p>

{% if __SELF__.pageEditor is not null %}
<p>
    <a href="{{ __SELF__.pageEditor }}">{{ 'riuson.blogfrontend::lang.post_viewer.edit'|trans }}</a>
</p>
{% endif %}
